<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--секция для настройки NLog -->
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>

    <!--если нужно указать какие-либо fetch запросы-->
    <section name="fetchAccount" type="System.Configuration.IgnoreSectionHandler" allowLocation="false"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>

  <appSettings>

    <!--ссылка на организацию CRM (необходима для формирования ссылок на записи)-->
    <add key="crmOrgUrl" value="http://crm365/develop/"/>

    <!--ссылка на сервис CRM-->
    <add key="crmOrgServiceUrl" value="http://crm365/develop/XRMServices/2011/Organization.svc"/>

    <add key="userLogin" value="crmadmin"/>
    <add key="userPass" value="pass@word1"/>
    <add key="userDomain" value="ad"/>

    <!--место хранния логов file|crm  (если file - то в файле логов по пути указанному ниже, если crm - то в записях сущность prefix_logs в CRM-->
    <add key="logTarget" value="file"/>

    <!--кол-во дней хранения логов. при старте программа будет удалять все файлы логов старше указанного числа дней-->
    <add key ="days4saveFiles" value="10" />

    <!-- путь хранения файлов логов (ВНИМАНИЕ! у учетной записи, под которой работает утилита - должны быть права записис на диск)-->
    <add key="logPath" value="C:\Program Files\MSDYN365\TaskScheduler\TaskSchedulerAppTeamplate\logs"/>

    <!-- GUID учетной записи получателя письма с описанием ошибок -->
    <add key="recipientId4emailErrors" value="{9D14494D-1206-E911-90F2-005056874F50}"/>

    <!-- GUID учетной записи отправителя письма с описанием ошибок -->
    <add key="senderId4emailErrors" value="{9D14494D-1206-E911-90F2-005056874F50}"/>



  </appSettings>


  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">

      <target xsi:type="File" name="trace_log"
        concurrentWrites="true"
        encoding="UTF-8"
        fileName="${basedir}/logs/${shortdate}_trace.log"
        layout="${longdate}|${message}" />

      <target xsi:type="File" name="info_log"
        concurrentWrites="true"
        encoding="UTF-8"
        fileName="${basedir}/logs/${shortdate}_info.log"
        layout="${longdate}|${message}" />

      <target xsi:type="File" name="error_log"
        concurrentWrites="true"
        encoding="UTF-8"
        fileName="${basedir}/logs/${shortdate}_error.log"
        layout="${longdate}|${message}" />

      <target xsi:type="File" name="warning_log"
        concurrentWrites="true"
        encoding="UTF-8"
        fileName="${basedir}/logs/${shortdate}_warning.log"
        layout="${longdate}|${message}" />

    </targets>
    <rules>
      <logger name="*" level="Trace" writeTo="trace_log" />
      <logger name="*" level="Info" writeTo="info_log" />
      <logger name="*" level="Warn" writeTo="warning_log" />
      <logger name="*" level="Error" writeTo="error_log" />
    </rules>
  </nlog>


  <fetchAccount>
    <fetch top='50' >
      <entity name='account' >
        <attribute name='primarycontactid' />
        <attribute name='name' />
        <filter type='and' >
          <condition attribute='statecode' operator='eq' value='0' />
        </filter>
      </entity>
    </fetch>
  </fetchAccount>

</configuration>